
// VARIABLES
$bodyColor: #FFFFFF;
$fontColor: #303030;

$theme:     #3C3C3C;
$support:   #797979;
$default:   darken($bodyColor,8%);

$border:    darken($default,12%);

$baseFontsize: 12px;
$baseWidht:92%;

$fontBase:    Arial,"Helvetica Neue",Helvetica,sans-serif;
$fontTitle:   Arial,"Helvetica Neue",Helvetica,sans-serif;

$radius: 0;

// MIXINS
  @mixin gradient (
  $bgColor,       // background-color
  $angle,         // gradient angle
  $gradientColor, // gradient color
  $opacityStart,  // opacity at start > 1 - 0
  $opacityEnd     // opacity at end > 1 - 0
  ) {
    background-color: $bgColor;
    background-image: linear-gradient(
      ($angle * 1deg),
      rgba($gradientColor, $opacityStart),
      rgba($gradientColor, $opacityEnd)
    );
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  // example
  // @include gradient($purple-base, 180, $mint-base, 0.8, 0.6);
