﻿<!DOCTYPE html>

<html lang="es-mx" xmlns="http://www.w3.org/1999/xhtml" ng-app="Settings">
<head ng-controller="CtrlSetting">
    <meta charset="utf-8" />

    <title>{{Hotel.hotelName}}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport"  content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link ng-href='{{Tema.urlFont}}' rel="stylesheet" type="text/css" />
    <link href="assets/css/style.css?v=3" rel="stylesheet" />
    <!-- SCRIPTS -->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/mobile-detect.js"></script>
    <!-- STYLE -->
    <style>
        /* FONTS
        // ================================================== */
        .fontface{ font-family:{{Tema.fontFamily}} }

        /* HELPERS
        // ================================================== */
        .radius { border-radius:{{Tema.radius}}px !important }

        /* COLORS
        // ================================================== */

        .color-theme { color: {{Tema.colorTheme}} !important;}
        .color-light-theme {color: {{Colorea.lighttheme}} !important;}
        .color-dark-theme {color: {{Colorea.darktheme}} !important;}
        .color-support {color: {{Tema.colorSupport}} !important;}
        .color-light-support {color: {{Colorea.darksupport}} !important;}
        .color-dark-support {color: {{Colorea.darksupport}} !important;}
        .color-default {color: {{Tema.colorDefault}} !important;}
        .color-light-default {color: {{Colorea.lightdefault}} !important;}
        .color-dark-default {color: {{Colorea.darkdefault}} !important;}
        .color-grey {color: #6b6b6b !important;}
        .color-white {color: #fff !important;}

        /* ---------------------------- */

        .border-theme {border-color: {{Tema.colorTheme}} !important;}
        .border-light-theme {border-color: {{Colorea.lighttheme}} !important;}
        .border-dark-theme {border-color: {{Colorea.darktheme}} !important;}
        .border-support {border-color: {{Tema.colorSupport}} !important;}
        .border-light-support {border-color: {{Colorea.lightsupport}} !important;}
        .border-dark-support {border-color: {{Colorea.darksupport}} !important;}
        .border-default {border-color: {{Tema.colorDefault}} !important;}
        .border-light-default {border-color: {{Colorea.lightdefault}} !important;}
        .border-dark-default {border-color: {{Colorea.darkdefault}} !important;}
        .border-grey {border-color: #6b6b6b !important;}
        .border-white {border-color: white !important;}

        /* ---------------------------- */

        .bg-theme {background-color: {{Tema.colorTheme}}!important;}
        .bg-light-theme {background-color: {{Colorea.lighttheme}}!important;}
        .bg-dark-theme {background-color: {{Colorea.darktheme}}!important;}
        .bg-support {background-color: {{Tema.colorSupport}}!important;}
        .bg-light-support {background-color: {{Colorea.lightsupport}}!important;}
        .bg-dark-support {background-color: {{Colorea.darksupport}}!important;}
        .bg-default {background-color: {{Tema.colorDefault}}!important;}
        .bg-light-default {background-color: {{Colorea.lightdefault}}!important;}
        .bg-dark-default {background-color: {{Colorea.darkdefault}}!important;}
        .bg-grey {background-color: #6b6b6b !important;}
        .bg-white {background-color: white !important;}

        /* Datepicker */
        .ui-datepicker {border-color:{{Tema.colorSupport}};box-shadow: 0 3px 3px $bodyColor;}
        .ui-datepicker .ui-datepicker-header{background-color: {{Colorea.darksupport}};color:#ffffff;}
        .ui-datepicker table {border-color:#ffffff; th{background:{{Tema.colorTheme}};color:$bodyColor} }
        .ui-datepicker table th{background:{{Tema.colorTheme}};}
        .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{background:{{Colorea.lightdefault}};}
        .ui-datepicker-calendar .ui-state-default {background-color:{{Tema.colorDefault}};border-color:{{Tema.colorDefault}};}
        .ui-datepicker-calendar{background:#ffffff;}
        .ui-state-active {background-color: #D84368!important;} /* DIA ACTUAL ACTIVO */
        .ui-state-highlight {background-color: #127496 !important;} /* DÍA ACTUAL MOSTRADO*/
    </style>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-37802452-1', 'auto',{'allowLinker': true});
        ga('require', 'linker');
        ga('linker:autoLink',['internetpower.com.mx','crs.univisit.com','chicannaecovillageresort.com']);   
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>
<body ng-controller="CtrlSetting" class="bg-light-default">
    <!-- ====================================================================================== -->
    <!-- HEADER -->
    <header class="header clearfix animated fadeIn">
        <!-- TOP BLOCK -->
        <div class="top-block bg-light-default">
            <!-- TOPBAR -->
            <div class="top-bar bg-theme">
                <div class="wrapper">
                    <!-- ENLACES PARA COMPARTIR -->
                    <div class="social-likes animated fadeInRight" data-counters="no" data-url="{{Hotel.url}}" data-title="{{Hotel.hotelName}}">
                        <div class="facebook" title="Compartir enlace en Facebook">Facebook</div>
                        <div class="twitter" data-via="friendlyhotel" title="Compartir enlace en Twitter">Twitter</div>
                        <div class="plusone" title="Compartir enlace en Google">Google+</div>
                    </div>
                </div>
            </div>
            <!-- TERMINA TOPBAR -->
            
            <!-- WRAPPER PRINCIPAL -->
            <div class="wrapper header-block">
                <!-- LOGO PRINCIPAL DEL SITIO -->
                <h1 class="logo animated fadeInLeft">
                    <a href="{{Hotel.url}}">
                        <img src="assets/img/logo.png" alt="{{Hotel.hotelName}}">
                    </a>
                </h1>
                <!-- IMAGEN OPCIONAL DEL SITIO -->
                <p class="callcenter animated fadeInRight">Call Center: <br> <a href="tel:{{Hotel.telefono}}">
                    <span class="color-support fontface"><i class="fa fa-phone"></i>  {{Hotel.callCenter}}</span></a>
                </p>
            </div>
            <!-- TERMINA WRAPPER PRINCIPAL -->
        </div>
        <!-- TERMINA TOP BLOCK -->
        
        <!-- TEXTO MEJOR TARIFA -->
        <div class="text-box animated fadeInRight" style="display: none">
            <p>
                <strong class="color-support">¡Mejor Tarifa Garantizada!</strong><br>
                <span class="uppercase">Reserve Ahora</span>
            </p>
        </div>
        
    </header>
    <!-- TERMINA HEADER -->
    <!-- ====================================================================================== -->
    <!-- BOOKING -->
    <div class="booking bg-dark-theme animated-fadeIn">
        <div class="wrapper animated fadeInUp">
            <!-- include booking con AngularJS (Proximamente) -->
            <form class="clearfix" method="get" id="form-booking" action="#">
                <div class="promo-box  animated fadeIn">
                    <div class="mejor-tarifa">
                        <div class="sello">
                            <a href="{{Hotel.mejor_tarifa}}" border="0" target="_blank">
                                <img src="assets/img/mejor-tarifa-garantizada-es.png">
                            </a>
                        </div>
                        <h3>SI ENCUENTRA UNA TARIFA MÁS BAJA EN INTERNET,</h3>
                        <span>NOSOTROS LA MEJORAMOS</span><br>
                        <label class="big">Tel.: {{Hotel.callCenter}}</label>
                    </div>
                </div>
                <!-- Variables dinamicas del Field -->
                <div style="visibility:hidden;display:none;">
                    <input class="text input" type="hidden" name="Provider" value="0" />
                    <input class="text input" type="hidden" name="Currency" value="{{Booking.currency}}" />
                    <input class="text input" type="hidden" name="Tab" value="Rates" />
                    <input class="text input" type="hidden" id="Destiny" name="Destiny" value="{{Booking.idHotel}}" />
                    <input class="text input" type="hidden" id="bookingApi" name="booking_api" value="{{Booking.parther}}" />
                    <input type="hidden" id="bookingApiM" class="text input" value="{{Booking.partherMov}}" />
                    <input class="text input promocorp" id="txtNegociateRate" type="hidden" name="promocorp" placeholder="Código" />
                    <input id="txtPromotionCode" type="text" />
                </div>
                <div class="row">
                    <div class="form-block">
                        <label for="" class="color-white">Llegada</label>
                        <div class="input-icon">
                            <i class="fa fa-calendar"></i>
                            <input class="datepicker radius" id="checkllegada" type="text" placeholder="dd/mm/aaaa" value="" />
                            <input style="visibility:hidden;position:relative;display:none;" id="checkin" type="text" name="CheckIn" value="" />
                        </div>
                    </div>
                    <div class="form-block">
                        <label for="" class="color-white">Salida</label>
                        <div class="input-icon">
                            <i class="fa fa-calendar"></i>
                            <input class="datepicker radius" id="checksalida" type="text" placeholder="dd/mm/aaaa" value="" />
                            <input style="visibility:hidden;position:relative;display:none;" id="checkout" type="text" name="CheckOut" value="" />
                        </div>
                    </div>
                    <div class="form-block form-block-small v-large">
                        <label for="" class="color-white">Habitaciones</label>
                        <select id="cmbNumRooms" name="Rooms" class="radius">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-block form-block-small v-large">
                        <label for="" class="color-white">Adulto(s)</label>
                        <select id="iAdults1" name="Adults" class="radius">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <br />
                        <select id="iAdults2" name="Adults" class="radius">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <br />
                        <select id="iAdults3" name="Adults" class="radius">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="form-block form-block-small v-large">
                        <label for="" class="color-white">Menor(es)</label>
                        <select id="iChildren1" name="Children" class="radius">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <br />
                        <select id="iChildren2" name="Children" class="radius">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                        <br />
                        <select id="iChildren3" name="Children" class="radius">
                            <option value="0" selected>0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>

                    <div class="form-block">
                        <button type="button" id="tarifas" class="switch btn uppercase bg-support border-dark-support radius animated"><span class="color-white">Ver Tarifas</span></button>
                    </div>

                </div>
                <!-- <p class="reserve-call v-large">Reservaciones: <strong>01-612-175-0860</strong></p> -->
            </form>
        </div>
        <div class="wrapper clearfix">
            <div class="row comparador" style="text-align: center">
                <div ng-controller="appComparator" ng-show="show" id="compOtas" class="row">
                    <div class="animated fadeInUp {{r.Channel}}" ng-show="{{r.Rate >= 0}}" ng-repeat="r in Rates">
                        <a href="{{$first ? r.Status : ''}}" ng-If="!(r.Channel == 'Nosotros' && r.Rate == 0)">
                            <span class="big fontface ota">{{r.Channel}}</span>
                            <span class="big fontface precio" ng-If="r.Rate == 0">Sin Tarifa</span>
                            <span class="big fontface precio" ng-If="r.Rate > 0">${{r.Rate}} MXN</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ====================================================================================== -->
    <!-- CONTENIDO -->
    <section class="content">
        <div class="wrapper clearfix">
            <!-- include rates con AngularJS (Proximamente) -->
            <ng-include src="'inc/rates.html'"></ng-include>
            <!-- include modules con AngularJS -->
            <ng-include src="'inc/modules.html'"></ng-include>
        </div>
    </section>
    <!-- TERMINA CONTENIDO -->
    <!-- ====================================================================================== -->
    <footer class="footer bg-theme animated fadeIn">
        <div class="wrapper text-center clearfix">
            <div class="socials">
                <a href="{{RedSocial.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="{{RedSocial.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
            <p class="text-center">Recibe en tu correo promociones especiales:<br>
                <a href="{{Enlaces.urlSuscription}}" class="btn btn-support btn-rounded bg-theme border-light-theme animated">SUSCRIBIRSE</a>
            </p>
            <p class="text-center">
                Desarrollado por <a href="http://www.internetpowehotel.com" target="_blank" class="color-light-theme">Internet Power</a>
            </p>
        </div>
    </footer>
    <!-- FIXED SCROLL TOP BUTTON -->
    <a href="#" class="topscroll"><i class="fa fa-arrow-circle-up"></i></a>
    <!-- VALORES || ANALYTICS || ID -->
    <input type="hidden" id="iAnalytics" value="UA-37641766-1">
    
    <!-- SCRIPTS -->
    <!-- ====================================================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>if (!window.jQuery) {document.write('<script src="assets/js/jquery-2.1.4.min.js"><\/script>');}</script>
    <!-- ====================================================================================== -->
    <script src="assets/js/jquery-ui.js"></script>
    <script src='assets/js/social-likes.js'></script>
    <script src='assets/js/ip-booking.js'></script>
    <script src='assets/js/scripts.js'></script>
    <script src="settings.js?v=1.3"></script>
    <script>
        $(document).ready(function () {

            // Items que se ocultan al cargar el Web //
            $('#iAdults2').hide();
            $('#iAdults3').hide();
            $('#iChildren2').hide();
            $('#iChildren3').hide();

            // Al seleccionar una habitación //
            $('#cmbNumRooms').on('change', function () {
                if ($('#cmbNumRooms').val() == "2") {
                    $('#iAdults2').show();
                    $('#iAdults3').hide();
                    $('#iChildren2').show();
                    $('#iChildren3').hide();
                } else if ($('#cmbNumRooms').val() == "3") {
                    $('#iAdults2').show();
                    $('#iChildren2').show();
                    $('#iAdults3').show();
                    $('#iChildren3').show();
                } else {
                    $('#iAdults2').hide();
                    $('#iAdults3').hide();
                    $('#iChildren2').hide();
                    $('#iChildren3').hide();
                }
            });

        });
    </script>
</body>
</html>