<div class="row">

  <!-- modulo -->
  <div class="third-block animated fadeInLeft">
      <!-- card -->
      <div id="mod1" class="card radius">
          <a href="{{Enlaces.urlOffers}}" alt="Ofertas Exclusivas"><img src="assets/img/mod-01.jpg" alt="promociones y ofertas" class="card-image v-large" /></a>
          <div class="card-body">
            <h4 class="color-theme fontface">Ofertas Exclusivas</h4>
            <p>{{Hotel.hotelName}} pone a tu alcance los mejores paquetes y ofertas de hotel todo incluido en {{Hotel.hotelLocation}} para disfrutar de la estancia más accesible.</p>
            <a href="{{Enlaces.urlOffers}}" class="btn btn-theme btn-block small bg-support border-support radius"><em>Ver Ofertas</em></a>
          </div>
      </div>
  </div>

  <!-- modulo -->
  <div class="third-block animated fadeIn">
      <!-- card -->
      <div id="mod2" class="card radius">
          <a href="{{Enlaces.urlReserve}}" alt="Reserve Ahora!"><img src="assets/img/mod-02.jpg" alt="reservaciones en linea" class="card-image v-large" /></a>
          <div class="card-body">
            <h4 class="color-theme fontface">Reserve Ahora!</h4>
            <p>Haz tu reservación en línea para disfrutar de los convenientes servicios de nuestro hotel en {{Hotel.hotelLocation}} y haz tuyas las mejores vacaciones con nuestras ofertas y paquetes exclusivos</p>
            <a href="{{Enlaces.urlReserve}}" class="btn btn-theme btn-block small bg-support border-support radius"><em>Reservar en Línea</em></a>
          </div>
      </div>
  </div>

  <!-- modulo -->
  <div class="third-block animated fadeInRight">
      <!-- card -->
      <div id="mod3" class="card radius">
          <a href="{{Enlaces.urlRooms}}" alt="Nuestras Habitaciones"><img src="assets/img/mod-03.jpg" alt="nuestras habitaciones" class="card-image v-large" /></a>
          <div class="card-body">
            <h4 class="color-theme fontface">Habitaciones</h4>
            <p>En {{Hotel.hotelName}} te hacemos sentir como en casa, con los mejores servicios y acogedoras camas para que disfrutes tu estancia al máximo.</p>
            <a href="{{Enlaces.urlRooms}}" class="btn btn-theme btn-block small bg-support border-support radius"><em>Más información</em></a>
          </div>
      </div>
  </div>

</div>
<!-- /row -->