<!-- tarifas dinamicas -->
<div ng-controller="appController" ng-show="show" id="tarifasBlock" class="row">
    <div ng-show="{{r.show == true}}" ng-repeat="r in Rooms" class="list">
        <div class="list-item animated fadeInUp">
            <div class="media-block clearfix">
            <img ng-src="{{r.img}}" alt="" class="img-thumbnail media-block_image" />
                <div class="media-block_content">
                <h4 class="media-block_title color-theme fontface">{{r.roomName}}</h4>
                <p>{{r.roomDescription}}</p>
                    <div class="text-right">
                        <span class="color-theme big fontface">${{r.total}}&nbsp;{{Booking.currency}}</span><br /><a target="_blank" href="{{r.url}}" class="btn bg-support color-white radius animated">Reservar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>